*.o
*.in
*.la
*.lo
*.a
Makefile
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
include/setup.h
include/stamp-h1
install-sh
.deps
libltdl/
libtool
ltmain.sh
missing
ylwrap
