*.o
*.so*
*.a
.depend
Makefile
config.log
config.status
y.tab.*
lex.yy.c
src/ircd
servlink/servlink
include/setup.h
*.la
*.lo
.deps
.libs
Makefile.in
autom4te.cache
compile
config.guess
config.sub
*~
missing
ltmain.sh
ylwrap
libtool
aclocal.m4
configure
depcomp
include/setup.h.in
include/stamp-h1
install-sh
libltdl
src/ircd_parser.c
src/ircd_parser.h
src/ircd_lexer.c
