*.o
*.so*
*.a
.depend
Makefile
config.log
config.status
y.tab.*
lex.yy.c
src/ircd
servlink/servlink
include/setup.h
*.la
*.lo
.deps
ylwrap
missing
m4
config.sub
config.guess
ltmain.sh
.libs
compile
libtool
src/conf_lexer.c
src/conf_parser.c
src/conf_parser.h
depcomp
autom4te.cache
help/opers/Makefile.in
help/users/Makefile.in
include/Makefile.in
include/config.h
include/config.h.in
include/stamp-h1
libuv/
modules/core/Makefile.in
tools/encspeed
tools/mkpasswd
