Source: oftc-hybrid
Section: net
Priority: extra
Maintainer: Christoph Berg <myon@debian.org>
Build-Depends: debhelper (>> 7), quilt, bison, flex, zlib1g-dev, libssl-dev, libpcre3-dev
Standards-Version: 3.9.1
Vcs-Browser: http://svn.oftc.net/svn/oftc-hybrid/branches/debian-oftc-hybrid/
Vcs-Svn: http://svn.oftc.net/svn/oftc-hybrid/branches/debian-oftc-hybrid/
Homepage: http://www.oftc.net/oftc/CodingProjects

Package: oftc-hybrid
Architecture: any
Depends: ${shlibs:Depends}, adduser, ${misc:Depends}
Provides: ircd
Suggests: oftc-hybrid-doc, oftc-hybrid-respond
Conflicts: ircd-hybrid, dancer-ircd
Description: Hybrid 7 IRC daemon - OFTC branch
 This is the IRC server designed for use on OFTC (irc.oftc.net), based on the
 Hybrid 7 ircd.

Package: oftc-hybrid-doc
Section: doc
Architecture: all
Depends: oftc-hybrid, ${misc:Depends}
Description: Documentation for oftc-hybrid
 This is the IRC server designed for use on OFTC (irc.oftc.net), based on the
 Hybrid 7 ircd.
 .
 This package contains the documentation.

Package: oftc-hybrid-respond
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: respond binary for oftc-hybrid challenge oper authentication
 The oftc-hybrid IRC server offers challenge-response IRC operator
 authentication using RSA keys. This package provides the client-side
 "respond" binary.
